# Build artifacts
bin/
obj/

# Visual Studio temporary files, build results, and user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE files (optional)
.idea/

# Visual Studio Code files (optional)
.vscode/

# Build logs
*.log

# Packages
*.nupkg
*.snupkg
*.nuspec
packages/

# ReSharper files
_ReSharper*/
*.DotSettings.user

# Windows files
Thumbs.db
Desktop.ini

# Others / Cache files
*.cache
*.dtbcache.v2
*.futdcache.v2
